<nav id="navbar">
    <div class="nav-container">
        <div class="nav-home">
            <a href="#hero" class="navbar-item navbar-brand">{{ "nav.brand" | localize }}</a>
        </div>
        <div class="nav-navigation" id="navNavigation">
            <div class="nav-list" id="navList">
                <a href="#portfolio" class="navbar-item">{{ "nav.projects" | localize }}</a>
                <a href="#skills" class="navbar-item">{{ "nav.skills" | localize }}</a>
                <a href="#cv" class="navbar-item">{{ "nav.cv" | localize }}</a>
                <a href="#aboutme" class="navbar-item">{{ "nav.about" | localize }}</a>
            </div>
        </div>
        <div class="nav-utils">
            <button type="button" class="navbar-darkmode-toggle" id="navThemeToggler"
                aria-label="{{ "nav.aria.toggle_theme" | localize }}">
                <svg aria-hidden="true">
                    <use href="/assets/icons/icons.svg#mdi--white-balance-sunny"> </use>
                </svg>
            </button>
            <button type="button" class="nav-toggle" aria-expanded="false" aria-label="Toggle navigation"
                aria-controls="#navNavigation" id="navToggler">
                <svg aria-label="{{ "nav.aria.toggle_menu_icon" | localize }}">
                    <use href="/assets/icons/icons.svg#ic--baseline-menu"></use>
                </svg>
            </button>
        </div>
    </div>
</nav>